# jupyter notebook to calculate the optimal combination of weights for pm

In [13]:
import pandas as pd
from scipy.optimize import nnls
from sklearn.metrics import mean_squared_error

In [2]:
ranking = pd.read_csv('/Users/kaspervanderhorst/Desktop/performance metric/team ranking.csv')
#has 99 if the team wasnt playing that year cause in 2022 there was an expansion
#should replace with 0
ranking = ranking.replace(99, 0)
ranking.head()

,Team,2018 Actual Rank,2019 Actual Rank,2020 Actual Rank,2021 Actual Rank,2022 Actual Rank,2023 Actual Rank
0,Kolkata Night Riders,3,5,5,4,7,7
1,Mumbai Indians,5,1,1,5,10,4
2,Kings XI Punjab,7,6,6,6,6,8
3,Sunrisers Hyderbad,1,4,3,8,8,10
4,Rajasthan Royals,4,7,8,7,2,5

In [3]:
teams = ranking['Team'].tolist()
print(teams)

['Kolkata Night Riders', 'Mumbai Indians', 'Kings XI Punjab', 'Sunrisers Hyderbad', 'Rajasthan Royals', 'Delhi Capitals', 'Royal Challengers Bangalore', 'Chennai Super Kings', 'Gujarat Titans', 'Lucknow Super Giants']

In [4]:
predicted_rankings = pd.read_csv('/Users/kaspervanderhorst/Desktop/performance metric/predicted_rankings.csv')
if 'Unnamed: 0' in predicted_rankings.columns:
    predicted_rankings = predicted_rankings.drop(columns=['Unnamed: 0'])
predicted_rankings.head()

#now here have to insert rows for each team that wasnt there that year and give 0 aswell
#the names of these teams are the Lucknow Super Giants and Gujarat Titans, so insert rows for both team with rank 0 for each year

              team_name  rank_pm1  rank_pm2  rank_pm3  year
0  Kolkata Night Riders         1         2         2  2018
1        Mumbai Indians         4         1         7  2018
2       Kings XI Punjab         3         6         3  2018
3    Sunrisers Hyderbad         2         3         5  2018
4      Rajasthan Royals         6         5         8  2018

In [6]:
years = predicted_rankings['year'].unique()

new_teams = ["Lucknow Super Giants", "Gujarat Titans"]

new_rows = []

for year in range(2018,2022):
    for team in new_teams:
        new_rows.append({
            'team_name': team,
            'rank_pm1': 0,
            'rank_pm2': 0,
            'rank_pm3': 0,
            'year': year
        })

new_teams_df = pd.DataFrame(new_rows)

predicted_rankings = pd.concat([predicted_rankings, new_teams_df], ignore_index=True)

predicted_rankings.head()

              team_name  rank_pm1  rank_pm2  rank_pm3  year
0  Kolkata Night Riders         1         2         2  2018
1        Mumbai Indians         4         1         7  2018
2       Kings XI Punjab         3         6         3  2018
3    Sunrisers Hyderbad         2         3         5  2018
4      Rajasthan Royals         6         5         8  2018

The reason I give zero to the ranking for the expansion teams is because I gave them actual rank 0 aswell. So whatever the weights, the loss will always be zero so they wont influence the LR but still give everything matching dimensions.

In [10]:
# Reshape actual ranking data for merging
ranking_melted = ranking.melt(id_vars=['Team'], 
                              value_vars=['2018 Actual Rank', '2019 Actual Rank', '2020 Actual Rank', '2021 Actual Rank', '2022 Actual Rank', '2023 Actual Rank'],
                              var_name='Year', value_name='Actual Rank')

# Extract the year from the 'Year' column
ranking_melted['Year'] = ranking_melted['Year'].str.extract('(\d+)').astype(int)

# Merge metrics rankings and actual rankings
data = pd.merge(predicted_rankings, ranking_melted, left_on=['team_name', 'year'], right_on=['Team', 'Year'])

# Drop unnecessary columns
data = data.drop(columns=['Team', 'year'])

print(data)

                      team_name  rank_pm1  rank_pm2  rank_pm3  Year  \
0          Kolkata Night Riders         1         2         2  2018
1                Mumbai Indians         4         1         7  2018
2               Kings XI Punjab         3         6         3  2018
3            Sunrisers Hyderbad         2         3         5  2018
4              Rajasthan Royals         6         5         8  2018
5                Delhi Capitals         7         4         4  2018
6   Royal Challengers Bangalore         5         7         1  2018
7           Chennai Super Kings         8         8         6  2018
8          Kolkata Night Riders         1         1         1  2019
9           Chennai Super Kings         2         2         2  2019
10               Mumbai Indians         3         3         3  2019
11               Delhi Capitals         4         4         4  2019
12              Kings XI Punjab         5         5         5  2019
13             Rajasthan Royals         6         6         6  2019
14  Royal Challengers Bangalore         7         7         7  2019
15          Chennai Super Kings         1         1         1  2020
16               Delhi Capitals         2         2         2  2020
17               Mumbai Indians         4         4         4  2020
18             Rajasthan Royals         6         6         6  2020
19  Royal Challengers Bangalore         7         7         7  2020
20  Royal Challengers Bangalore         2         2         2  2021
21             Rajasthan Royals         3         3         3  2021
22               Mumbai Indians         5         5         5  2021
23               Delhi Capitals         7         7         7  2021
24          Chennai Super Kings         8         8         8  2021
25          Chennai Super Kings         1         1         1  2022
26               Delhi Capitals         2         2         2  2022
27               Gujarat Titans         3         3         3  2022
28         Lucknow Super Giants         5         5         5  2022
29               Mumbai Indians         6         6         6  2022
30             Rajasthan Royals         8         8         8  2022
31  Royal Challengers Bangalore         9         9         9  2022
32          Chennai Super Kings         1         1         1  2023
33               Delhi Capitals         2         2         2  2023
34               Gujarat Titans         3         3         3  2023
35         Lucknow Super Giants         5         5         5  2023
36               Mumbai Indians         6         6         6  2023
37             Rajasthan Royals         8         8         8  2023
38  Royal Challengers Bangalore         9         9         9  2023
39         Lucknow Super Giants         0         0         0  2018
40               Gujarat Titans         0         0         0  2018
41         Lucknow Super Giants         0         0         0  2019
42               Gujarat Titans         0         0         0  2019
43         Lucknow Super Giants         0         0         0  2020
44               Gujarat Titans         0         0         0  2020
45         Lucknow Super Giants         0         0         0  2021
46               Gujarat Titans         0         0         0  2021
47         Lucknow Super Giants         0         0         0  2018
48               Gujarat Titans         0         0         0  2018
49         Lucknow Super Giants         0         0         0  2019
50               Gujarat Titans         0         0         0  2019
51         Lucknow Super Giants         0         0         0  2020
52               Gujarat Titans         0         0         0  2020
53         Lucknow Super Giants         0         0         0  2021
54               Gujarat Titans         0         0         0  2021

    Actual Rank
0             3
1             5
2             7
3             1
4             4
5             8
6             6
7             2
8             5
9             2
10            1
11            3
12            6
13            7
14            8
15            7
16            2
17            1
18            8
19            4
20            3
21            7
22            5
23            1
24            2
25            9
26            5
27            1
28            3
29           10
30            2
31            5
32            2
33            9
34            1
35            3
36            4
37            5
38            6
39            0
40            0
41            0
42            0
43            0
44            0
45            0
46            0
47            0
48            0
49            0
50            0
51            0
52            0
53            0
54            0

In [15]:
X = data[['rank_pm1', 'rank_pm2', 'rank_pm3']]
y = data['Actual Rank']

# Use Non-Negative Least Squares (NNLS) to fit the model
weights, residual = nnls(X, y)

print("Weights: ", weights)
print("Residual: ", residual)

# Use the model to predict rankings
predicted_rankings = X.dot(weights)

# Evaluate the model
mse = mean_squared_error(y, predicted_rankings)
print("Mean Squared Error: ", mse)

# Print the actual and predicted rankings
result = data[['Year', 'Actual Rank', 'team_name']].copy()
result['Predicted Rank'] = predicted_rankings
print(result)

Weights:  [0.56436405 0.21142287 0.        ]
Residual:  20.212269778381522
Mean Squared Error:  7.427924538074088
    Year  Actual Rank                    team_name  Predicted Rank
0   2018            3         Kolkata Night Riders        0.987210
1   2018            5               Mumbai Indians        2.468879
2   2018            7              Kings XI Punjab        2.961629
3   2018            1           Sunrisers Hyderbad        1.762997
4   2018            4             Rajasthan Royals        4.443299
5   2018            8               Delhi Capitals        4.796240
6   2018            6  Royal Challengers Bangalore        4.301780
7   2018            2          Chennai Super Kings        6.206295
8   2019            5         Kolkata Night Riders        0.775787
9   2019            2          Chennai Super Kings        1.551574
10  2019            1               Mumbai Indians        2.327361
11  2019            3               Delhi Capitals        3.103148
12  2019            6              Kings XI Punjab        3.878935
13  2019            7             Rajasthan Royals        4.654722
14  2019            8  Royal Challengers Bangalore        5.430508
15  2020            7          Chennai Super Kings        0.775787
16  2020            2               Delhi Capitals        1.551574
17  2020            1               Mumbai Indians        3.103148
18  2020            8             Rajasthan Royals        4.654722
19  2020            4  Royal Challengers Bangalore        5.430508
20  2021            3  Royal Challengers Bangalore        1.551574
21  2021            7             Rajasthan Royals        2.327361
22  2021            5               Mumbai Indians        3.878935
23  2021            1               Delhi Capitals        5.430508
24  2021            2          Chennai Super Kings        6.206295
25  2022            9          Chennai Super Kings        0.775787
26  2022            5               Delhi Capitals        1.551574
27  2022            1               Gujarat Titans        2.327361
28  2022            3         Lucknow Super Giants        3.878935
29  2022           10               Mumbai Indians        4.654722
30  2022            2             Rajasthan Royals        6.206295
31  2022            5  Royal Challengers Bangalore        6.982082
32  2023            2          Chennai Super Kings        0.775787
33  2023            9               Delhi Capitals        1.551574
34  2023            1               Gujarat Titans        2.327361
35  2023            3         Lucknow Super Giants        3.878935
36  2023            4               Mumbai Indians        4.654722
37  2023            5             Rajasthan Royals        6.206295
38  2023            6  Royal Challengers Bangalore        6.982082
39  2018            0         Lucknow Super Giants        0.000000
40  2018            0               Gujarat Titans        0.000000
41  2019            0         Lucknow Super Giants        0.000000
42  2019            0               Gujarat Titans        0.000000
43  2020            0         Lucknow Super Giants        0.000000
44  2020            0               Gujarat Titans        0.000000
45  2021            0         Lucknow Super Giants        0.000000
46  2021            0               Gujarat Titans        0.000000
47  2018            0         Lucknow Super Giants        0.000000
48  2018            0               Gujarat Titans        0.000000
49  2019            0         Lucknow Super Giants        0.000000
50  2019            0               Gujarat Titans        0.000000
51  2020            0         Lucknow Super Giants        0.000000
52  2020            0               Gujarat Titans        0.000000
53  2021            0         Lucknow Super Giants        0.000000
54  2021            0               Gujarat Titans        0.000000