In [1]:
import pandas as pd
import numpy as np

In [2]:
auction = pd.read_csv('C:\\Users\\natem\\University\\Project2-2\\ipl-teampicker\\ipl-teampicker-main\\2024_auction_pool.csv')
batter_erd = pd.read_csv('C:\\Users\\natem\\University\\Project2-2\\batting_contributions.csv')
bowler_erd = pd.read_csv('C:\\Users\\natem\\University\\Project2-2\\bowling_contributions.csv')

In [5]:
batter_erd.rename(columns={'batter_id':'batting id'}, inplace=True)
bowler_erd.rename(columns={'bowler_id':'bowling id'}, inplace=True)

In [6]:
# Join the batter ERD dataframe to the auction dataframe
auction = pd.merge(auction, batter_erd, on='batting id', how='left')
auction = pd.merge(auction, bowler_erd, on='bowling id', how='left')
auction.head()

,PLAYER,OverseasIndian,TYPE,Played For Country,Predicted Price,Selling Price,Base Price,Performance,batting id,bowling id,batting_contribution,bowling_contribution
0,Finn Allen,Overseas,Batter,0.0,16480667.0,0.0,7500000.0,0.841418,1890,427,-1.8518,-4.2097
1,Ashutosh Sharma,Indian,All-Rounder,0.0,7400235.5,2000000.0,0.0,0.822751,3046,-1,-1.1608,-0.0000
2,Kusal Mendis,Overseas,Wicket-Keeper,0.0,2125319.5,0.0,5000000.0,0.699531,-1,-1,0.0000,-0.0000
3,Rassie Van Der Dussen,Overseas,Batter,0.0,2135125.5,0.0,20000000.0,0.686391,581,-1,-0.6543,-0.0000
4,Samuel Hain,Overseas,Batter,0.0,2127266.2,0.0,5000000.0,0.681846,-1,-1,0.0000,-0.0000

In [7]:
auction.rename(columns={'batting_contribution':'batting erd', 'bowling_contribution':'bowling erd'}, inplace=True)

In [8]:
auction.to_csv('C:\\Users\\natem\\University\\Project2-2\\ipl-teampicker\\ipl-teampicker-main\\2024_auction_pool.csv', index=False)

In [9]:
# Add ERD to squad csv
squads = pd.read_csv('C:\\Users\\natem\\University\\Project2-2\\ipl-teampicker\\t20simulation\\IPL_2024_Player_Squads.csv')

In [ ]:
squads = pd.merge(squads, batter_erd, on='batting id', how='left')