In [13]:
import pandas as pd

In [14]:
batters1 = pd.read_csv('batter_runs.csv')
batters2 = pd.read_csv('2024_auction_pool.csv')

In [15]:
def same_person(name1, name2, exact=False):
    if exact:
        return name1 == name2

    same_surname = name1.split(' ')[-1] == name2.split(' ')[-1]
    same_firstname = name1[0] == name2[0]
    
    name1_is_initial = name1.split(' ')[0].isupper()
    name2_is_initial = name2.split(' ')[0].isupper()

    # If neither names are initials, check if the first names are the same
    if not (name1_is_initial or name2_is_initial):
        same_firstname = name1.split(' ')[0].lower() == name2.split(' ')[0].lower()

    return same_surname and same_firstname

In [16]:
from batter_search import get_batter_ids, return_same_names, get_bowler_ids

In [17]:
names = return_same_names('Ravi Kumar', 'batter_runs.csv')
print(names)

['R Vinay Kumar', 'R Kumar']

In [18]:
# Rename players to avoid ambiguity
batters2.loc[batters2['PLAYER'] == 'Steve Smith', 'PLAYER'] = 'SPD Smith'
batters2.loc[batters2['PLAYER'] == 'Harshal Patel', 'PLAYER'] = 'HV Patel'
batters2.loc[batters2['PLAYER'] == 'Vishwanath Pratap Singh', 'PLAYER'] = 'V Pratap Singh'
batters2.loc[batters2['PLAYER'] == 'Shardul Thakur', 'PLAYER'] = 'SN Thakur'
batters2.loc[batters2['PLAYER'] == 'Finn Allen', 'PLAYER'] = 'FH Allen'
batters2.loc[batters2['PLAYER'] == 'Fabian Allen', 'PLAYER'] = 'FA Allen'
batters2.loc[batters2['PLAYER'] == 'Aman Khan', 'PLAYER'] = 'Aman Hakim Khan'
batters2.loc[batters2['PLAYER'] == 'Ravi Kumar', 'PLAYER'] = 'R Kumar'

In [19]:
names = batters2['PLAYER'].tolist()
ids = get_batter_ids(names, 'batter_runs.csv')
print(ids)
print(len(ids))

Multiple batters found for Ramandeep Singh
Exact match found for Ramandeep Singh with id 580
Exact match found for Swapnil Singh with id 425
Exact match found for V Pratap Singh with id 327
Exact match found for Azmatullah Omarzai with id 2443
Exact match found for Kartik Tyagi with id 524
Exact match found for Mohammad Nabi with id 452
Exact match found for Mustafizur Rahman with id 480
Exact match found for SN Thakur with id 407
Exact match found for Yash Dayal with id 588
Exact match found for Shivam Mavi with id 473
Exact match found for HV Patel with id 312
Exact match found for SPD Smith with id 307
Exact match found for FH Allen with id 1890
Exact match found for FA Allen with id 545
Exact match found for Ibrahim Zadran with id 1607
Exact match found for Najibullah Zadran with id 952
Exact match found for Fareed Ahmad with id 1608
Exact match found for Basil Thampi with id 441
Exact match found for Lalit Yadav with id 543
Exact match found for Vivrant Sharma with id 636
Multiple batters found for Virat Singh
Exact match found for Virat Singh with id 544
Exact match found for Aman Hakim Khan with id 586
Multiple batters found for Ansh Patel
Multiple batters found for Ansh Patel
Multiple batters found for Ansh Patel
Exact match found for Mohit Rathee with id 619
Exact match found for Shashank Singh with id 590
Exact match found for R Kumar with id 2527
Exact match found for Shivam Sharma with id 382
[  -1  197   -1   -1   -1 3046   -1   -1   -1  541   -1   -1  580   -1
  476   -1   -1   -1   -1  389  425   -1   -1  327   -1 2443  546  548
   97   -1  601  524 1274  510   -1   -1  452  512  467   -1  368 2057
  572  447  470  480   -1   -1   -1  610  407  442 2727 2490   -1  542
  588   -1  233  473  418   -1  564  403  381   -1   -1  504  312  589
  406  379  307 1954  584  611   -1 1164  398   -1 1326  624  412  392
  377  537  435  436  378 1201  617  573  422  540  599  450  268  402
  489 1890  545  494 1176   -1   -1  469 2735  340   -1  629   -1  555
   -1 1065   -1 1093 1554 1607  952   -1   -1   -1   -1  386   -1  552
 1920 2127   -1   -1  618  567   -1  937  297 1608   -1 2426 2169  369
   -1   -1 1299 1935   -1  430 1327   -1 1928   -1   -1   -1   -1  525
  441  543   -1   -1   -1   -1  346  566  403  636   -1  587   -1  642
   -1  554  419   -1 1747   -1   -1   -1   -1   -1   -1   -1   -1   -1
   -1   -1   -1   -1  696   -1   -1   -1   -1   -1   -1  483 1471  544
   -1   -1   -1   -1   -1   -1   -1   -1   -1   -1   -1   -1   -1   -1
   -1   -1   -1   -1   -1 2621   33  586  541  541   -1   -1   -1   -1
   -1   -1   -1   -1   -1   -1   -1 3010 1076   -1   -1   -1   -1  619
   -1   -1  326   -1   -1   -1 2701   -1  590   -1   -1   -1   -1   -1
   -1   -1   -1   -1   -1  591   -1   -1   -1  420   -1   -1   -1   -1
   -1   -1   -1  208   -1  633   -1   -1   -1   -1   -1   -1   -1   -1
   -1   -1   -1   -1   -1   -1   33   -1   -1   -1 2527   -1   -1   -1
   -1   -1   -1   -1   -1   -1   -1   -1 3046   -1  343   -1 2417 1014
   -1   -1   -1   -1   -1   -1   -1  423   -1   -1   -1   -1   -1   -1
   -1   -1   -1  382   -1  399   -1   -1   -1   -1]
332

In [20]:
# Rename names back to original
batters2.loc[batters2['PLAYER'] == 'SPD Smith', 'PLAYER'] = 'Steve Smith'
batters2.loc[batters2['PLAYER'] == 'HV Patel', 'PLAYER'] = 'Harshal Patel'
batters2.loc[batters2['PLAYER'] == 'V Pratap Singh', 'PLAYER'] = 'Vishwanath Pratap Singh'
batters2.loc[batters2['PLAYER'] == 'SN Thakur', 'PLAYER'] = 'Shardul Thakur'
batters2.loc[batters2['PLAYER'] == 'FH Allen', 'PLAYER'] = 'Finn Allen'
batters2.loc[batters2['PLAYER'] == 'FA Allen', 'PLAYER'] = 'Fabian Allen'
batters2.loc[batters2['PLAYER'] == 'Aman Hakim Khan', 'PLAYER'] = 'Aman Khan'
batters2.loc[batters2['PLAYER'] == 'R Kumar', 'PLAYER'] = 'Ravi Kumar'

In [21]:
# Add the player IDs to the dataframe
batters2['batting id'] = ids
batters2.head()

,PLAYER,OverseasIndian,TYPE,Played For Country,Predicted Price,Selling Price,Base Price,Performance,batting id
0,Abid Mushtaq,Indian,All-Rounder,0.0,2108533.0,2000000.0,0.0,23.067920,-1
1,Akash Singh,Indian,Bowler,0.0,3987720.5,2000000.0,0.0,25.516441,197
2,Angkrish Raghuvanshi,Indian,Batter,0.0,2105171.5,2000000.0,0.0,23.067920,-1
3,Anshul Kamboj,Indian,All-Rounder,0.0,2105053.2,2000000.0,0.0,23.067920,-1
4,Arshin Kulkarni,Indian,All-Rounder,0.0,2099252.5,2000000.0,0.0,23.067920,-1

In [22]:
bowling_ids = get_bowler_ids(names, 'bowler_runs.csv')

Exact match found for Akash Singh with id 430
Exact match found for Ramandeep Singh with id 468
Exact match found for Swapnil Singh with id 324
Exact match found for V Pratap Singh with id 235
Exact match found for Azmatullah Omarzai with id 1820
Exact match found for Kartik Tyagi with id 409
Exact match found for Mohammad Nabi with id 345
Exact match found for Mustafizur Rahman with id 316
Exact match found for SN Thakur with id 306
Multiple bowlers found for Dilshan Madushanka
Exact match found for Yash Dayal with id 455
Exact match found for Shivam Mavi with id 363
Exact match found for HV Patel with id 226
Exact match found for SPD Smith with id 247
Exact match found for FA Allen with id 427
Exact match found for Fareed Ahmad with id 943
Exact match found for Basil Thampi with id 341
Exact match found for Lalit Yadav with id 425
Exact match found for S Midhun with id 391
Exact match found for Vivrant Sharma with id 499
Multiple bowlers found for Virat Singh
Exact match found for Aman Hakim Khan with id 457
Multiple bowlers found for Ansh Patel
Multiple bowlers found for Ansh Patel
Exact match found for Mohit Rathee with id 485
Exact match found for Shashank Singh with id 456
Exact match found for R Kumar with id 1880
Exact match found for Shivam Sharma with id 285

In [23]:
# Add the bowling ids to the dataframe
batters2['bowling id'] = bowling_ids
batters2.head()

,PLAYER,OverseasIndian,TYPE,Played For Country,Predicted Price,Selling Price,Base Price,Performance,batting id,bowling id
0,Abid Mushtaq,Indian,All-Rounder,0.0,2108533.0,2000000.0,0.0,23.067920,-1,-1
1,Akash Singh,Indian,Bowler,0.0,3987720.5,2000000.0,0.0,25.516441,197,430
2,Angkrish Raghuvanshi,Indian,Batter,0.0,2105171.5,2000000.0,0.0,23.067920,-1,-1
3,Anshul Kamboj,Indian,All-Rounder,0.0,2105053.2,2000000.0,0.0,23.067920,-1,-1
4,Arshin Kulkarni,Indian,All-Rounder,0.0,2099252.5,2000000.0,0.0,23.067920,-1,-1

In [24]:
# Save the updated dataframe
batters2.to_csv('2024_auction_pool.csv', index=False)