This file was used to create batter_runs.csv from ball_by_ball_ipl.csv

In [2]:
import pandas as pd

data = pd.read_csv('ball_by_ball_ipl.csv')

In [3]:
# Add column to data which keeps track of how many wickets have occurred in the innings so far
data['wickets'] = data.groupby(['Match ID', 'Innings'])['Wicket'].cumsum()

In [4]:
# Loop through each row in data

# Get all the batters
batters = data['Batter'].unique()

selected_cols = ['Match ID', 'Date', 'Innings', 'Over', 'wickets', 'Batter', 'Batter Runs', 'Extra Runs', 'Wicket']

# Filter with selected cols
df_selected = data[selected_cols]

# Split Batter Runs into 7 columns, one for each run
df_selected = pd.concat([df_selected, pd.DataFrame(df_selected['Batter Runs'].apply(lambda x: [1 if i == x else 0 for i in range(7)]).tolist(), columns=[str(i) for i in range(7)])], axis=1)
df_selected.drop('Batter Runs', axis=1, inplace=True)
df_selected.head()

df_selected = df_selected.groupby(['Match ID', 'Date', 'Innings', 'Over', 'wickets', 'Batter'], as_index=False).sum()

df_selected[df_selected['Match ID'] == data.iloc[0]['Match ID']].head()

,Match ID,Date,Innings,Over,wickets,Batter,Extra Runs,Wicket,0,1,2,3,4,5,6
88843,1359507,2023-04-23,1,1,0,DP Conway,0,0,1,0,0,0,0,0,0
88844,1359507,2023-04-23,1,1,0,RD Gaikwad,0,0,3,1,0,0,1,0,0
88845,1359507,2023-04-23,1,2,0,DP Conway,0,0,2,1,0,0,0,0,1
88846,1359507,2023-04-23,1,2,0,RD Gaikwad,0,0,0,2,0,0,0,0,0
88847,1359507,2023-04-23,1,3,0,DP Conway,0,0,2,1,0,0,0,0,0

In [5]:
# Give batters ids
batters = data['Batter'].unique()
batter_id = {batter: i+1 for i, batter in enumerate(batters)}
df_selected['Batter ID'] = df_selected['Batter'].apply(lambda x: batter_id[x])

In [7]:
min(batter_id.values())

1

In [16]:
# Convert col names to lowercase
df_selected.columns = [col.lower() for col in df_selected.columns]

# Save to csv
df_selected.to_csv('batter_runs.csv', index=False)