This file was used to create batter_runs.csv from ball_by_ball_ipl.csv

In [14]:
import pandas as pd

data = pd.read_csv('ball_by_ball_ipl.csv')

In [15]:
# Add column to data which keeps track of how many wickets have occurred in the innings so far
data['wickets'] = data.groupby(['Match ID', 'Innings'])['Wicket'].cumsum()
# Offset by 1 so that the wicket is only counted after the ball has been bowled
data['wickets'] = data['wickets'] - data['Wicket']

In [16]:
# Loop through each row in data

# Get all the batters
batters = data['Batter'].unique()

selected_cols = ['Match ID', 'Date', 'Innings', 'Over', 'wickets', 'Batter', 'Batter Runs', 'Extra Runs', 'Wicket']

# Filter with selected cols
df_selected = data[selected_cols]

# Split Batter Runs into 7 columns, one for each run
df_selected = pd.concat([df_selected, pd.DataFrame(df_selected['Batter Runs'].apply(lambda x: [1 if i == x else 0 for i in range(7)]).tolist(), columns=[str(i) for i in range(7)])], axis=1)
df_selected.drop('Batter Runs', axis=1, inplace=True)
df_selected.head()

df_selected = df_selected.groupby(['Match ID', 'Date', 'Innings', 'Over', 'wickets', 'Batter'], as_index=False).sum()

df_selected[df_selected['Match ID'] == data.iloc[0]['Match ID']].head()

,Match ID,Date,Innings,Over,wickets,Batter,Extra Runs,Wicket,0,1,2,3,4,5,6
81622,1359507,2023-04-23,1,1,0,DP Conway,0,0,1,0,0,0,0,0,0
81623,1359507,2023-04-23,1,1,0,RD Gaikwad,0,0,3,1,0,0,1,0,0
81624,1359507,2023-04-23,1,2,0,DP Conway,0,0,2,1,0,0,0,0,1
81625,1359507,2023-04-23,1,2,0,RD Gaikwad,0,0,0,2,0,0,0,0,0
81626,1359507,2023-04-23,1,3,0,DP Conway,0,0,2,1,0,0,0,0,0

In [17]:
# Give batters ids
batters = data['Batter'].unique()
batter_id = {batter: i+1 for i, batter in enumerate(batters)}
df_selected['Batter ID'] = df_selected['Batter'].apply(lambda x: batter_id[x])

In [18]:
min(batter_id.values())

1

In [19]:
# Convert col names to lowercase
df_selected.columns = [col.lower() for col in df_selected.columns]

# Save to csv
df_selected.to_csv('batter_runs_ipl.csv', index=False)

In [20]:
batter_runs_ipl = pd.read_csv('batter_runs_ipl.csv')
batter_runs_it20 = pd.read_csv('batter_runs_it20.csv')

In [22]:
# Add column ipl-it20 to each df
batter_runs_ipl['ipl-it20'] = 'ipl'
batter_runs_it20['ipl-it20'] = 'it20'

In [23]:
# Concatenate the two dataframes
batter_runs = pd.concat([batter_runs_ipl, batter_runs_it20], ignore_index=True)
batter_runs

,match id,date,innings,over,wickets,batter,extra runs,wicket,0,1,2,3,4,5,6,batter id,ipl-it20
0,335982,2008-04-18,1,1,0,BB McCullum,2,0,6,0,0,0,0,0,0,78,ipl
1,335982,2008-04-18,1,1,0,SC Ganguly,1,0,1,0,0,0,0,0,0,173,ipl
2,335982,2008-04-18,1,2,0,BB McCullum,0,0,2,0,0,0,3,0,1,78,ipl
3,335982,2008-04-18,1,3,0,BB McCullum,0,0,0,1,0,0,1,0,0,78,ipl
4,335982,2008-04-18,1,3,0,SC Ganguly,1,0,4,0,0,0,0,0,0,173,ipl
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
237288,1393328,2023-08-22,2,14,3,S Thakor,0,0,1,0,0,0,0,0,0,1360,it20
237289,1393328,2023-08-22,2,15,3,AP Rajeevan,0,0,2,1,1,0,0,0,0,1346,it20
237290,1393328,2023-08-22,2,15,3,S Thakor,0,0,0,1,0,0,1,0,0,1360,it20
237291,1393328,2023-08-22,2,16,3,AP Rajeevan,0,0,1,0,0,0,3,0,1,1346,it20
237292,1393328,2023-08-22,2,16,3,S Thakor,0,0,0,1,0,0,0,0,0,1360,it20

In [24]:
# Drop the batter id column
batter_runs.drop('batter id', axis=1, inplace=True)

In [27]:
# Give batters ids
batters = batter_runs['batter'].unique()
batter_id = {batter: i+1 for i, batter in enumerate(batters)}
batter_runs['batter id'] = batter_runs['batter'].apply(lambda x: batter_id[x])

In [28]:
batter_runs

,match id,date,innings,over,wickets,batter,extra runs,wicket,0,1,2,3,4,5,6,ipl-it20,batter id
0,335982,2008-04-18,1,1,0,BB McCullum,2,0,6,0,0,0,0,0,0,ipl,1
1,335982,2008-04-18,1,1,0,SC Ganguly,1,0,1,0,0,0,0,0,0,ipl,2
2,335982,2008-04-18,1,2,0,BB McCullum,0,0,2,0,0,0,3,0,1,ipl,1
3,335982,2008-04-18,1,3,0,BB McCullum,0,0,0,1,0,0,1,0,0,ipl,1
4,335982,2008-04-18,1,3,0,SC Ganguly,1,0,4,0,0,0,0,0,0,ipl,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
237288,1393328,2023-08-22,2,14,3,S Thakor,0,0,1,0,0,0,0,0,0,it20,2312
237289,1393328,2023-08-22,2,15,3,AP Rajeevan,0,0,2,1,1,0,0,0,0,it20,2754
237290,1393328,2023-08-22,2,15,3,S Thakor,0,0,0,1,0,0,1,0,0,it20,2312
237291,1393328,2023-08-22,2,16,3,AP Rajeevan,0,0,1,0,0,0,3,0,1,it20,2754
237292,1393328,2023-08-22,2,16,3,S Thakor,0,0,0,1,0,0,0,0,0,it20,2312

In [29]:
# Save
batter_runs.to_csv('batter_runs.csv', index=False)